/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: 'BIZ UDPGothic', 'Noto Sans JP', 'Hiragino Sans', sans-serif;
$font-family-monospace: 'UDEV Gothic JPDOC', 'BIZ UDGothic', 'Noto Sans Mono', monospace;
$code-block-font-size: 0.7em;

/*-- scss:rules --*/
.cell-output, .cell-output-stdout {
  font-size: 95%;
}